@charset "UTF-8";

body{
    background-color:  rgb(112, 135, 212);
    font: bolder 18pt arial;
}
header{
    text-align: center;
    color: white;
}
div{
    text-align: center;
   
}
div#foto{
    padding: 15px;
}
section{
    margin: auto;
   background-color: white;
   border-radius: 10px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}
footer{
    text-align: center;
    font-style: italic;
    color: white;
}
